html, body {
	margin: 0;
	padding: 0;
}

body {
	background: #1488CC;
	background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);
	background: linear-gradient(to right, #2B32B2, #1488CC);
	color: #FFF;
	font-family: 'Roboto', sans-serif;
}

#header {
	height: 100vh;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

#header-center {
	flex-basis: 60%;
}

#header {
	a {
		color: #ECF0F1;
	}
}