#block-site-page
	width 600px
	margin-left 15px
	height calc(100vh - 110px)

.block-site
	display flex

	input
		flex-grow 1
		font-size 20px
		margin-right 30px
	
	button
		flex-grow 0

.site-list
	width 100%
	height calc(100% - 45px)
	overflow-y auto

.site
	flex-basis 100%
	display flex
	align-items center
	justify-content space-between
	
	button
		flex-grow 0
	p
		font-size 20px
	 	flex-grow 1
		flex-basis 100%