.btn
	font-size 18px
	display inline-block
	padding 12px 40px
	border none
	transition all 500ms cubic-bezier(0.25, 0.8, 0.25, 1)
	
	&:hover,
	&:focus
		cursor pointer
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)

.btn-primary
	background linear-gradient(253.64deg, #2B32B2 0%, #1488CC 100%)
	color #FFF

.btn-danger
	background linear-gradient(253.64deg, #EB3349 0%, #F45C43 100%)
	color #FFF