doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Focus App
    link(rel="stylesheet" href="css/main.css")
  body
    #header
      #header-center
        h1 This is app is still in the oven
        p 
          | Check out this project's 
          a(href="https://trello.com/b/v07z1DJY/focus-app" target="_blank") Trello Board
          |  to see it's progress
        p 
          | If you have any suggestions or comments feel free to email me at  
          a(href="mailto:me@levizitting.com") me@levizitting.com

