doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		title Focus App
		link(rel="stylesheet", href="../css/options.css")
		link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet")
	body

		nav
			#logo
				img(src="../images/focus-app.png")
				h1 ocus
			button.btn.btn-primary#blocked-sites
				span Blocked Sites
			button.btn.btn-primary-outline#schedule
				span Schedule

		main
			#block-site-page
				.block-site
					input(type="text")
					button.btn.btn-primary Block Site
				.site-list
					.site
						p https://facebook.com
						button.btn.btn-danger.btn-circle
							span.close &times;
					.site
						p https://facebook.com
						button.btn.btn-danger.btn-circle
							span.close &times;
							
		script(src="../js/options.js")