doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Focus App
    link(rel="stylesheet", href="../css/popup.css")
  body
    h1#title Focus

    .toggle-switch
      input.toggle-checkbox#focus-state(type="checkbox")
      label.toggle-viewport(for="focus-state")
        .toggle
          .toggle-button
          .toggle-content.toggle-left
            span On
          .toggle-content.toggle-right
            span Off

    script(src="../js/popup.js")
          