@import 'partials/buttons'

nav
	display flex
	align-items center

	& > *
		margin-right 30px

	& .btn
		width 190px

#logo
	display flex
	align-items center

	img
		height 80px

	h1
		font-size 50px
		margin 0
		color transparent
		text-shadow 0 0 8px rgba(0,0,0,0.5)
