body
	width 400px

.toggle-checkbox
	display none
	visibility none

.toggle,
.toggle-button
.toggle-left-content,
.toggle-right-contetn
	transition all 500ms ease-in-out

.toggle-viewport
	display block
	height 100px
	overflow hidden
	width 300px
	position relative
	margin 30px auto 0
	cursor pointer

.toggle
	height 100%
	position relative
	width 200%

.slider-button
	background-color #F2F2F2
	position absolute
	display block
	top 0
	height 100px
	width 100px
	cursor pointer

.toggle-content
	box-shadow rgba(0, 0, 0, 0.2) 0 0 5px inset
	background rgba(157, 38, 29, 0.5)
	cursor pointer
	display inline-block
	float left 
	height 100%
	width 250px
	font-size 50px
	font-weight bold
	text-transform uppercase
	top 10px

	span
		text-shadow rgba(0, 0, 0, 0.1) 1px 1px 2px
		height 100%
		line-height 100px
		margin 0 20px
		float left

.toggle-left
	background-color #59BDFF
	
.toggle-right
	background-color #FF4F51

	span
		float right

.toggle-checkbox
	
	& + .toggle-viewport 

		> .toggle
			left 0

		.toggle-button
			left 200px

		.toggle-content
			width 250px
		
		.toggle-left
			margin-left 0
	
	&:checked + .toggle-viewport 

		> .toggle
			left -100%
	
		.slider-button
			left 300px
		
		.toggle-left
			margin-left 100px
	