body
	width 400px

#title
	text-align center
	margin 10px 0
	font-size 50px
	color transparent
	text-shadow 0 0 5px rgba(0,0,0,0.5)

#title.focused
	color #333
	text-shadow none

@import 'toggle-switch'